.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

mat-panel-title {
  padding: 18px 24px 0;
}

.example-header  {
  min-height: 64px;
  padding: 18px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.fxcore-machine-info {
  margin : 0px 0px 0px -16px;
}

.mat-tooltip {
  white-space: pre-line;
  }